:root {
  --primary: #FFF
};

.btn {
  padding:  8px 20px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 8px;
  font-weight: bold;
};

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
  font-weight: bold;
};

.btn--outline {
  background-color: transparent;
  color: #FFF;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
  font-weight: bold;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
  font-weight: bold;
}

.btn--large {
  padding: 15px 25px;
  font-size: 18px;
  font-weight: bold;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 80%;
  text-decoration: none;
  font-size: 24px;
  background-color: transparent;
  color: #FFF;
  padding: 14px;
  border: 1px solid #FFF;
  transition: all 0.3 ease-out;
  font-weight: bold;
}

.btn--wide {
  padding: 20px 64px;
  font-size: 20px;
  font-weight: bold;
}

.btn--large:hover, .btn-medium:hover, .btn-mobile:hover {
  transition: all 0.3s ease-out;
  background: #FFF;
  color: #242424;
  font-weight: bold;
}

.btn--wide:hover {
  color: #FFF;
  background-color: #f00946;
  transition: all 0.3s ease-out;
  font-weight: bold;
}

.primary, .white, .blue, .grey, .transparent {
  border: 10px;
  border-radius: 8px;
  margin: 5px;
  font-weight: bold;
}

.primary {
  background-color: #fd4601;
  color: #FFF;
}

.primary:hover {
  background-color: #FFF;
  color: #fd4601;
  border: none;
}

.blue {
  background-color: #0078c8;
  color: #FFF;
  border: none;
}

.white {
  background-color: #FFF;
  color: #434343;
  border: none;
}

.transparent {
  background-color: transparent;
  color: #FFF;
}

.grey {
  background-color: #ececed;
  color: #434343;
  border: none;
}