@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap');

.card-testimoni-wrapper {
  padding: 30px; 
  text-align: center;
  margin: 0 auto;
}

.card-testimoni-comment {
	padding: 20px 0;
}

.card-testimoni-content {
	line-height: 1.7rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 15px;
}

.card-testimoni-person img {
	width: 100px;
	height: 100px;
	margin: 20px 0;
}

.person-name {
	font-size: 22px;
	padding-bottom: 10px;
}

.person-work {
	color: #262626;
}

@media screen and (min-width: 1200px) {
	.card-testimoni-wrapper {
	  width: 90%;
	  height: 500px;
	  margin: 0 auto;
	}
	.card-testimoni-comment {
		padding: 20px 0;
	}
  	.card-testimoni-content {
		font-size: 15px;
		line-height: 1.7rem;
	}
}

@media screen and (min-width: 1500px) {
  	.card-testimoni-content {
		line-height: 2.5rem;
		font-size: 22px;
	}
}
