.container-pendaftaran {
	text-align: center;
}

.pendaftaran-wrapped {
	width: 70%;
	margin: 0 auto;
}

.pendaftaran-title {
	font-size: 32px;
	padding: 40px 0;
}

.pendaftaran-description-1, .pendaftaran-description-2 {
	font-size: 15px;
	line-height: 2rem;
}

.pendaftaran-description-2 {
	padding: 20px 0 40px 0;
}

.pendaftaran-options {
	padding: 40px;
	width: 90%;
	margin: 0 auto;
}

