.card {
  border-radius: 18px;
}

.card-kelas-wrapper {
  width: 200px;
  height: 180px;
  text-align: center;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 25px 48px 13px rgba(220,220,220,0.63);
  -webkit-box-shadow: 1px 25px 48px 13px rgba(220,220,220,0.63);
  -moz-box-shadow: 1px 25px 48px 13px rgba(220,220,220,0.63);
  position: relative;
}

.card-kelas-image-wrapper {
  position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-kelas-image {
  background-color: #f2f2f3;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: relative;
}

.card-kelas-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-kelas-title {
  padding: 80px 0 10px 0;
  font-size: 18px;
}